body, html {
    height: 100%;
    width: 100%;
  }

.backgroundimage {
    background-image: url("Ghana.jpg");
    background-color: transparent;
  width: 100%;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  margin: auto;
  text-align: center;
    /* display: flex; */
    padding: 3%;
}

.container1{
    text-align: center;
    display: block;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    height: 50%; 
    width: 60%;
    border-radius: 5%;
    font-size: larger;
    padding:3%;
    font-weight: 700;

}
.name{
    text-align: center;
    width: 60%;
    height: 50%;
    padding-top: 2%;
    font-weight: 900;
    border-radius: 2%;
    
}
label{
    font-weight: 700;
    color: blanchedalmond;
}
.heading{
    color: blanchedalmond;
}
.description{
    display: flex;
    padding: 5%;
    color: blanchedalmond;
    justify-content: space-around;
}